<!DOCTYPE html>
<html>
<head>
	<!-- TITLE -->
	<title>ADMIN AREA | Mari Tobat</title>
	<!-- IMPORT CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<!-- META -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">
			ADMIN AREA
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
				<li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="card text-green mb-3">
			<div class="card-body">Selamat datang di admin area dimana anda bisa menghapus/edit database sesuai dgn yang anda mau.
			</div>
		</div>
		List sholawat yang tersedia:
		<div class="jumbrotron box">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">URL</th>
							<th scope="col">Judul</th>
							<th scope="col">Upload</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for data in db %}
							<tr>
								<th scope="row">{{data[0]}}</th>
								<td>https://maritobat.herokuapp.com{{data[1]}}</td>
								<td>{{data[2]}}</td>
								<td>{{data[3]}}</td>
								<td><a href="/admin?id={{data[0]}}&action=delete"><button class="btn btn-success">Delete</a></button></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		{% if pesan %}
			<div class="card bg-{{type}} text-white mb-3">
				<div class="card-header text-center"><h3>INFO</h3></div>
				<div class="card-body">
					{{pesan}}
				</div>
			</div>
		{% endif %}
	</div>
	<!-- IMPORT JAVASCRIPT -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
